// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida visar färgkoder och variabler------------
// --------------------------------------------------------------

/* Färgkoder 
#cecece ljusgrå
#373737 mörkgrå
#222222 mörkaste grå (till text)
#feB8ce ljusare rosa
#e78ea5 mörkare rosa
*/

// --------------------------------------------------------------
// ----------Variabler-------------------------------------------
// --------------------------------------------------------------

/* Padding */
$paddingLeft: 10%;
$paddingRight: 10%;

/* Färger */
$lightpink: #feB8ce;
$darkpink: #e78ea5;
$lightgrey: #cecece;
$darkgrey: #373737;
$greytext: #222;
$white: #fff;
$black: #000;